<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <listener>
        <listener-class>dao.InitConnexion</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>sio.rostand.test.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGroupe</servlet-name>
        <servlet-class>servlet.ServletGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGroupe</servlet-name>
        <url-pattern>/ServletGroupe/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGroupe</servlet-name>
        <url-pattern>/ServletGroupe/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGroupe</servlet-name>
        <url-pattern>/ServletGroupe/ajouter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
